<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="Business" type="Bll.Layer2.BusinessLayer2, Bll.Layer2"/>
  <alias alias="IBusiness" type="Protozoo.Core.IBusiness, Protozoo.Core"/>

  <container>
    <register type="IBusiness" mapTo="Business"></register >
  </container>

</unity>
